.markdown h1 > code,
.markdown h2 > code,
.markdown h4 > code,
.markdown p > code,
.markdown li > code {
    background-color: #9aa0a7;
    color: #ffffff;
    padding: 1.5px;
    border-radius: 1.5px;
}

.markdown > pre > div {
    padding: 3px;
    border-radius: 1.5px;
}

.markdown a {
    color: #0477ff;
}
